<!DOCTYPE html>
<html lang="en">
<head>
  <title>2MAKE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-3">
  <h2>2-make</h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu1">Hækling</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu2">Rørperler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu3">Runde perler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu4">Andet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu5">Plade form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu6">Runde perler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu7">Kontakt</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <h3>HOME</h3>
      <font color=green><h1><b><u>"2-MAKE"</u></b></h1></font>
      <img src= https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaZvuQEpPCsiYOOnCBvsMw3G8EzCS6kjYX5Q&usqp=CAU width="200" height="300" >
            <h5>2-Make er en hjemmeside som kan give lidt inspiration til forskellige former for håndarbejde</h5>
            <h5>Her er lidt inspiration til forskellige perleplader til de mørke eller regnfulde dage.</h5>
            <h5>De er delt op efter emne.</h5>
            <h5>I plade form er de delt op efter den plade der er brugt.</h5>
            <h5>Farver kan skiftes, og mange af dem der er lavet på lille plade, kan laves på stor, så mønsteret bliver større.</h5>
      <h5>Dem der er lavet på en lille plade kan også bruges som snurretop, hvis man fx. putter en tandstik ned i midten.</h5>
    </div>
  <!--</div>-->
    <div id="menu1" class="container tab-pane fade"><br>

        <h2><b><i><u>Hækling</u></i></b></h2>
        <h6>Hækling er nemt at tage med, da det kræver en hæklenål og lidt garn.</h6>
                   
                    <div class="container mt-3">
                      <h2><b><i><u></u></i></b></h2>
                      <div class="card" style="width:400px">
                        <img class="card-img-top" src="krea\image\Medier (3).jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">Poser</h4>
                          <p class="card-text">Her er to poser. Den store er lavet med bund, så den kan stå selv.<br> Der er snor i begge, så de kan bindes foroven<br>Jeg er startet med en lang 
                            hæklet snor, og derfra har jeg bare hæklet rundt</p>
                          <!--<a href="#" class="btn btn-primary">See Profile</a>-->
                        </div>
                      </div>
                    </div>
                  </div>

    <div id="menu2" class="container tab-pane fade"><br>
      <h3>Rørperler</h3>
      
       <!-- <div class="pt-5">-->
          <div class="container mb-5">
            <h2><b><i><u>Perleplade</u></i></b></h2>
            <h6>Lidt inspiration til hvad der kan laves på almindelige perleplader</h6>

            <div class="container mt-3">
              <h2><b><i><u>Firkantet plader</u></i></b></h2>
              <div class="card" style="width:400px">
                <img class="card-img-top" src="krea\image\Medier (2).jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Pil</h4>
                  <p class="card-text">Pilen er lavet på firkantet plade i få farver</p>
                  <!--<a href="#" class="btn btn-primary">See Profile</a>-->
                </div>
              </div>
              <h2><b><i><u>Rund plader</u></i></b></h2>
              <div class="card" style="width:400px">
                <img class="card-img-top" src="krea\image\Medier (1).jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Små blomster</h4>
                  <p class="card-text">Denne plade er holdt i tre farver.<br>Der er lavet lidt forskelligt mønster , hvor noget af det er som blomster</p>
                  
                </div>
              </div>
            </div>
            
                 
          </div> <!---->   
    </div>
    <div id="menu3" class="container tab-pane fade"><br>
      <h3>Runde perler</h3>
      <div class="container mt-3">
        <h2><b><i><u>Start på armbånd</u></i></b></h2>
        <div class="card" style="width:400px">
          <img class="card-img-top" src="krea\image\Medier (4).jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Armbånd</h4>
            <p class="card-text">Dette er starten på armbånd, firkantet bordskåner m.m..<br>Breden bestemmer man selv efter at være startet</p>
            
          </div>
        </div>
      </div>
    </div>
    <div id="menu4" class="container tab-pane fade"><br>
      <h3>Andet</h3>
      <div class="container mb-5">
        <h2><b><i><u>Mønster</u></i></b></h2>
        <h6>Lidt inspiration til perleplade lavet med mønstre. det kan være på forskellige plader, men uden noget emne</h6>
        <h6>Det kan også være at der kommer andre former for håndarbejde her ind under</h6>
        <div class="container mt-3">
          <h2><b><i><u>Rund plader</u></i></b></h2>
          <div class="card" style="width:400px">
            <img class="card-img-top" src="krea\image\rund2.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Pacman</h4>
              <p class="card-text">Det kan være sjovt at lade fatasien lege,<br>og her blev til en udgave af pacman</p>
              <!--<a href="#" class="btn btn-primary">See Profile</a>
            </div>-->
          </div>
        </div>
        </div>
      </div>
    </div>
    <div id="menu5" class="container tab-pane fade"><br>
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <style>
        body {
            position: relative; 
        }
        </style>
      <!--</head>-->
      <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">

      <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#section1">Start</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section2">Hjerte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section3">stjerne</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section4">rund</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section5">4-kant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section6">6-kant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section7">Reminder</a>
            </li>
          </ul>
        </div>
      </nav>

      <div id="section1" class="container-fluid bg-success text-white" style="padding:100px 20px;">
        <h1>Start</h1>
       <h1><font color=red> Plade form</font></h1>
        <h3>I denne sektion er perlepladerne delt op efter hvilken form pladen har de er lavet på</h3>
        <h4><b><u>BEMÆRK:</u></b>Der er ny menu-bar til denne del.</h4>
      </div>

      <div id="section2" class="container-fluid bg-warning" style="padding:100px 20px;">
        <h1>Hjerte</h1>
        <div class="container mb-5">
          <h2><b><i><u>Hjerteplader</u></i></b></h2>
          <h6>Lidt inspiration til perleplade lavet på hjerteplade</h6>
          <div class="container mt-3">
            <h2><b><i><u>Hjerte plader</u></i></b></h2>
            <div class="card" style="width:400px">
              <img class="card-img-top" src="krea\image\julehjerte.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Julehjerte</h4>
                <p class="card-text">Holdt i to farver som et flettet julehjerte.<br>PÅ stor plade er det nemmere at variere mønsteret</p>
                <!--<a href="#" class="btn btn-primary">See Profile</a>-->
              </div>
            </div>
          </div>
          </div>
        <!--</div>-->
      </div>

      <div id="section3" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
        <h1>Stjerne</h1>
        <div class="container mb-5">
          <h2><b><i><u>Stjerneplader</u></i></b></h2>
          <h6>Lidt inspiration til perleplade lavet på stjerneplade</h6>
          <div class="container mt-3">
            <h2><b><i><u>Stjerne plader</u></i></b></h2>
            <div class="card" style="width:400px">
              <img class="card-img-top" src="krea\image\stjern5.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Stjerne</h4>
                <p class="card-text">Stjernen er lavet på stjerne plade med et lille hjerte i</p>
                <!--<a href="#" class="btn btn-primary">See Profile</a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
        <div id="section4" class="container-fluid bg-info text-white" style="padding:100px 20px;">
          <h1>Rund</h1>
          <div class="container mb-2">
            <h2><b><i><u>runde plader</u></i></b></h2>
            <h6>Lidt inspiration til perleplade lavet på rundplade</h6>

            <div class="container mt-3">
              <h2><b><i><u>Rund plader</u></i></b></h2>
              <div class="card" style="width:400px">
                <img class="card-img-top" src="krea\image\Medier (1).jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Blomster</h4>
                  <p class="card-text">Denne plade er holdt i tre farver.<br>Der er lavet lidt forskelligt mønster , hvor noget af det er som blomster</p>
                  <!--<a href="#" class="btn btn-primary">See Profile</a>-->
                </div>
              </div>
            </div>

                      
                          
                    <!--</div>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </div>
        <div id="section5" class="container-fluid bg-success text-white" style="padding:100px 20px;">
          <h1>4-kant</h1>
          <div class="container mb-5">
            <h2><b><i><u>4-kantet plade</u></i></b></h2>
            <h6>Lidt inspiration til perleplade lavet på 4 kantet plade</h6>
            
            <div class="container mt-3">
              <h2><b><i><u>Firkantet plader</u></i></b></h2>
              <div class="card" style="width:400px">
                <img class="card-img-top" src="krea\image\Medier (2).jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Pil</h4>
                  <p class="card-text">Pilen er lavet på firkantet plade i få farver</p>
                  <!--<a href="#" class="btn btn-primary">See Profile</a>-->
                </div>
              </div>
            </div>
            
           
                  </div>
                </div>
             <!--  </div>
           </div>
          </div>
        </div>-->
        <div id="section6" class="container-fluid bg-info text-white" style="padding:100px 20px;">
          <h1>6-kant</h1>
          <div class="container mb-5">
            <h2><b><i><u>6-kantet plade</u></i></b></h2>
            <h6>Lidt inspiration til perleplade lavet på 6 kantet plade</h6>
            <div class="container mt-3">
              <h2><b><i><u>6-kantet plader</u></i></b></h2>
              <div class="card" style="width:400px">
                <img class="card-img-top" src="krea\image\6kant1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">firkanter</h4>
                  <p class="card-text">Mønsteret på denne plade er lavet som 3D kasser.<br>For at få den rigtige effect er det vigtigt at holde den rigtige række følge<br> Den kan også laves på stor plade, hvor firkanterne kan blive større</p>
                  <!--<a href="#" class="btn btn-primary">See Profile</a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="section7" class="container-fluid bg-warning text-white" style="padding:100px 20px;">
          <h1>Reminder</h1>
          <h3>HUSK: Dette er kun inspiration til hvad der kan laves. Farve og mønster er op til en selv, og det er helt lovligt at variere mønstrene som man vil.</h3>
          <hr>
          <button type="button" class="btn btn-light"><a class="nav-link" href="#section1">Til top</a></button>
        </div>

      </body>
    </div>
    <div id="menu6" class="container tab-pane fade"><br>
    

        <head>
          <title>Perler</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        </head>
        <body> 

        <div class="container mt-3">
          <font color = green><h3><u>Runde perler</u></h3></font>
          <p>Se nogle eksempler på hvad der kan laves af runde perler. De kan også skiftes ud med kvardratiske perler<br>De er delt op i følgende emner:<br>- Bordskåner<br>- Armbånd<br>- Skål<br>- Andet</p>
         <!--<div class="container mt-3">
           <p><code>.flex-wrap:</code></p>-->
          <div class="d-flex flex-wrap bg-leight">
            
             <!-- <h2><b><i><u>Armbånd</u></i></b></h2>-->
              <div class="p-2 border">
                <img class="top" src="krea\image\Medier (4).jpg" alt="Card image" style="width:25%">
                
                  <h4 class="title">Armbånd</h4>
                  <p class="text">Dette er starten på et armbånd, bordskåner m.m.<br>Breden bestemmer man selv, lige som størrelsen</p></div>
                  
                <!--</div>
              </div>
              <div class="d-flex flex-wrap bg-leight">
                <div class="container mt-3">
                  <h2><b><i><u>Bordskåner</u></i></b></h2>-->
                  <div class="p-2 border">
                    <img class="top" src="krea\image\bord2.jpg" alt="Card image" style="width:25%">
                    
                      <h4 class="title">Stjerne bordskåner</h4>
                      <p class="text">Denne bordskåner er lavet med runde træperler.<br>Den kan laves støre ved at gentage omgangene</p></div>
                      
                    </div>
                  </div>
          </div>
      </body>
   
    </div>
    <div id="menu7" class="container tab-pane fade"><br>
      <h3>Kontakt</h3>
      <p>Ved spørgsmål eller anden henvendelse, kan mail: lonehilke@gmail.com bruges.</p>
      
      </div>
    <!--</div>
  </div>-->
</div>

</body>
</html>